<head>
  <script src="https://code.jquery.com/jquery-3.5.1.js"
    integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>

<script type="text/javascript">
$(document).on('submit','#connect-Form',function(e)
    {
      console.log('hello');
      e.preventDefault();
      $.ajax({type:'POST', url:'/', data:{submit:"connect"}, })
    });
</script>
<script type="text/javascript">
  $(document).on('submit','#power-Form',function(e)
      {
        console.log('hello');
        e.preventDefault();
        $.ajax({type:'POST', url:'/', data:{submit:"toggle"}, })
      });
</script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-lg-8  offset-lg-2">
            <h3 class="mt-5">Live Camera</h3>
            <img src="{{ url_for('video_feed') }}" width="100%" height="75%">
            <form method="post" id="connect-Form">
              <button type="submit">Connect to Hue</button>
            </form>
            <form method="post" id="power-Form">
              <button type="submit">Turn Light off</button>
            </form>
        </div>
    </div>
</div>

</body>